<header>
	<div class="container">
		<div class="header-inner">
			<a class="brand" routerLink="/">
				<p>My Music</p>
			</a>
		</div>
		<nav class="header-inner">
      <a routerLink="about">About</a>
        <i [matMenuTriggerFor]="menu" class="fas fa-user"></i>
        <mat-menu #menu="matMenu">
          <a mat-menu-item routerLink="my-music">My Music</a>
          <mat-divider></mat-divider>
          <a mat-menu-item routerLink="my-songs">My Songs</a>
          <mat-divider></mat-divider>
          <a mat-menu-item routerLink="my-albums">My Albums</a>
          <mat-divider></mat-divider>
          <a mat-menu-item routerLink="my-artists">My Artists</a>
          <mat-divider></mat-divider>
          <a mat-menu-item>Logout</a>        
      </mat-menu>
		</nav>
	</div>
</header>