.footer-style {
	position: relative;
	background-color: #bdbdbd;
}

.brand {
	padding: 1rem 0;
	font-size: 1.73rem;
	text-decoration: none;
	color: #fafafa;
}

.footer-links {
	margin-left: 2em;
	padding: 1.6rem 0;
	font-size: 1rem;
	cursor: pointer;
	text-decoration: none;
	color: #fafafa;
}

.footer-links:hover {
	color: #212121;
}

.brand:hover {
	color: #212121;
	text-decoration: none;
}

.upArrowBtn {
	position: absolute;

	top: 0;
	right: 0;
	height: 100%;

	padding: 1.6rem;
	text-align: center;
	color: #ffffff;

	border: none;

	transition: background-color 0.2s;
	cursor: pointer;
}

.upArrowBtn:hover {
	color: #01579b;
}
