mat-form-field {
	display: block;
	margin: auto;

	width: 50%;
}

i {
	line-height: 1.5;
	padding: 1em 0 1em 1em;
}

.container {
	width: 90%;
	margin-top: 2em;
	padding: 5%;
	min-height: 90vh;
}

// Mat-Table

h1 {
	text-align: center;
}

mat-form-field {
	display: block;
	width: 50%;
	padding: 0;
}

mat-paginator {
	min-width: 683px;
}

.table-container {
	margin-top: 2em;
	margin-bottom: 2em;
}

.mat-pag-hidden {
	visibility: hidden;
}

//i-frame

iframe {
	width: 100%;
	margin-bottom: -0.25em;
	height: 53%;
}

table {
	display: block;
	margin: auto;
	width: 100%;
	background-color: #9e9e9e;
}

mat-paginator {
	color: #ffffff;

	background-color: #9e9e9e;
}
